<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-12">
				<h4><small>Demo</small></h4>
				<hr>
				<div class="container">
					<div class="col-md-8 col-md-offset-2">
						<h3>File Input Example</h3>
						<form method="post" action="upload/post" enctype="multipart/form-data">
							<div class="form-group">
								<input type="file" name="image" class="input-group input-file" />
								<button type="submit" name="upload" class="btn btn-primary pull-right">Upload</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>