<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-12">
				<h4><small>Demo</small></h4>
				<hr>
				<div class="container">
					<div class="fb-login-button" style="width: 100%" data-size="large" data-button-type="login_with"
						data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"
						data-width="100%" data-scope="public_profile,email" data-onlogin="checkLoginState()"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="fb-root"></div>
	<script>
		function statusChangeCallback(response) { // Called with the results from FB.getLoginStatus().
			console.log('statusChangeCallback');
			console.log(response); // The current login status of the person.
			if (response.status === 'connected') { // Logged into your webpage and Facebook.
				testAPI();
			} else { // Not logged into your webpage or we are unable to tell.
				// document.getElementById('status').innerHTML = 'Please log ' +
				// 	'into this webpage.';
			}
		}


		function checkLoginState() { // Called when a person is finished with the Login Button.
			FB.getLoginStatus(function (response) { // See the onlogin handler
				statusChangeCallback(response);
				localStorage.setItem('res', JSON.parse(response));
			});
		}




		window.fbAsyncInit = function () {
			FB.init({
				appId: '819999065506900',
				cookie: true, // Enable cookies to allow the server to access the session.
				xfbml: true, // Parse social plugins on this webpage.
				version: 'v9.0' // Use this Graph API version for this call.
			});


			FB.getLoginStatus(function (response) { // Called after the JS SDK has been initialized.
				statusChangeCallback(response); // Returns the login status.
			});
		};

		function testAPI() { // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me', function (response) {
				console.log('Successful login for: ' + response.name);
				console.log('Successful login id: ' + response.id);
				// document.getElementById('status').innerHTML =
				// 	'Thanks for logging in, ' + response.name + '!';
				localStorage.setItem('user', response.name);
				localStorage.setItem('userId', response.id);
				//	location.replace("main.html");


				$.ajax({
					url: "localhost:5000/auth/login",
					type: "post",
					headers: {
						'authorization': response.accessToken
					},
					data: {
						'type': 'facebook_login',
						'accessToken': response.accessToken
					},
					success: function (response) {
						alert("Login successfully !")
					},
					error: function (jqXHR, textStatus, errorThrown) {
						alert(textStatus, errorThrown);
					}
				});

			});
		}
	</script>
	<!-- The JS SDK Login Button -->
	<div id="status">
	</div>
	<!-- Load the JS SDK asynchronously -->
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/all.js"></script>
	<div id="root"></div>
</body>

</html>